[submodule "harshkishorani/public"]
	path = harshkishorani/public
	url = https://github.com/HarshKishorani/harshkishorani.github.io.git
	branch = main
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "harshkishorani/themes/ananke"]
	path = harshkishorani/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
